<!DOCTYPE html>
<html>
<head>
	<title>CSS colors</title>
	<body style="background-color:powderblue;">
	<style type="text/css">
		h1{
			color: #dff086;
			font-size: 30px;
		}
	
        p {
        	color: #00347f;
        	font-size: 20px;
        }

        #myHeader {
  background-color: lightblue;
  color: black;
  padding: 20px;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

img{
	width:100px;height:100px;border-radius: 100px;  
    border: 3px solid green; 
    box-shadow: 0 0 7px #666; 
}

    </style>

</head>
<body>
	<h1><b><i>Famous capitals</h1></b></i>
	<p><b><big>Witch capitals the most popular in the world?</big></b></p>

<h1 id="myHeader">My Choice</h1>

<div class="city">
  <h2>London</h2>
  <p>London is the capital of England.</p>
  <img src= "https://img.theweek.in/content/dam/week/news/world/images/2020/8/24/london-bridge.jpg" alt="google.com"> </div>

  <div class="city">
  <h2>Paris</h2>
  <p>Paris is the capital of France.</p>
  <img src="https://res.cloudinary.com/dsmafmqwi/image/upload/c_fill,f_auto,h_1280,q_auto/v1/virtualtrips/paris" alt="google.com">
</div>

<div class="city3">
  <h2>Tokyo</h2>
  <p>Tokyo is the capital of Japan.</p>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQbnjsnNbJ9QFkQXGP5YmGcCNU7-Bc0BmfWw&usqp=CAU" alt="tokyo.com">
</div>

	
</body>
</html>
